<!DOCTYPE html>
<html>
<head>
	
	<title>CodingWithAtif.com</title>

	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	{% include  'snippets/header.html' %}
	

</head>
<body>

	{% include  'snippets/base_css.html' %}
	<!-- Body -->
	<style type="text/css">
		.main{
			min-height: 100vh;
			height: 100%;
		}
	</style>
	<div class="main">
		{% block content %}

		{% endblock content %}
	</div>

	{% include  'snippets/footer.html' %}
	<!-- End Body -->

</body>


</html>